<div class="index-container">
    <h1>Liens</h1>

    <div class="generate-button">
        <%= link_to "Générer un lien", "/generator/new" %>
    </div>

    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <div>
        <% @links.order("created_at DESC").each do |link| %>
            <div class="link-container">
                <div class="link-item-original">
                    <span>Lien original :</span>
                    <a href="/generator/<%= link.id %>">
                        <%= link.original %>
                    </a>
                </div>
                <div class="link-info-container">
                    <div class="link-item-short">
                        <span>Lien court :</span>
                        <%= link_to request.url + link.short, request.url + link.short, data: { turbolinks: false } %>
                    </div>
                    <div class="link-item-view">
                        <span>Vues : <%= link.view %></span>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>